{% extends "layout.html" %}
{% block body %}
  <table class="kekse">
  {% for entry in entries %}
    <tr><th>{{ entry.title }}</th><td>{{ entry.text|safe }}</td></tr>
  {% else %}
    <tr><td><em>Unbelievable.  No entries here so far</em></td></tr>
  {% endfor %}
  </table>


  <h2>Mehr Kekse</h2>
    <form action="{{ url_for('kekse') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title"/>
        <dt>Text:
        <dd><input type="text" name="text"/>
        <dd><input type="submit" value="Kr&uuml;meln"/>
      </dl>
    </form>
{% endblock %}
