<!doctype html>
<html>
<head>
<title>Demo Site for HTTP and Cookie Debug...</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1>Demo Site for HTTP and Cookie Debug...</h1>
  <div class=metanav>
    <a href="/" title="Index">/</a>
    <a href="/kekse" title="Kekse">Cookies</a>
    <a href="/coffee" title="coffee">K&auml;ffchen</a>
    <a href="/post" title="post only">POST only</a>
    <a href="/images" title="Images">Images</a>
    <a href="/feed" title="Feed">Live Feed</a>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>
